@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: beige;

  line-height: 1.7;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 255, 0.336),
      rgba(241, 36, 36, 0.534)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.head{
  display: block;
}
.primary-h1 {

  font-size: 60px;
  font-weight: 700;
  letter-spacing: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.secondary-h1{
  
  font-size: 23.5px;
letter-spacing: 10px;
  font-weight: 700;
  position: absolute;
  top: 60%;
  left: 49%;
  transform: translate(-50%, -50%);

}
.logo img{
height: auto; 
  width: 60px;
  margin: 32px;
  
}